<!doctype html> 
<html lang =" ja">

<head>
<meta charset="UTF-8">

<!-- d3.js -->
<script type="text/javascript" src="d3/d3.js"></script>
<!-- jquery -->
<script src="jquery-3.3.1.min.js"></script>

<!-- bottle用 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url('static_file', filepath="css/bootstrap.min.css")}}" rel="stylesheet">


</head>

<body>

    <style>
        body {padding-bottom: 100px;}
    </style>



    



    <!-- 動画プレーヤー -->
    <div id="video_player">
        <video id="video" src= {{movie_name}} controls></video>

        <style>
            video {height: 30vh;}
        </style>

        <script>
            var vid = document.getElementById("video");

            function setCurTime(start_time, end_time) {
                vid.currentTime = start_time;
                vid.play();
            }
        </script>
    </div>
    




    <div id="setumei">
        <p>
            start_time　　end_time 　　　　　　　言葉　　　　　　　　　　　　　　　use　テロップ
            <style>
                #setumei {margin: 3vh 5% 0 5%; width: 80%; clear: both;}
            </style>
        </p>
    </div>

    <!-- スクロールボックス -->
    <div id="scroll_wrapper">
        <div id="scroll_inner"></div>
        <style>
            #scroll_wrapper {
                overflow:auto;
                position: relative;
                text-align: center;
                width:90%;
                height:250px;
                padding:5px;
                margin: 1% 2% 3% 2%;
                border:1px solid #000;
                background-color:#F9F9F9;
                color:#000;
                font-size:12px;
                }
            #scroll_inner {text-align: center; padding-bottom: 300px;}
            input {height: 40px; font-size: 17px;}

            .one_line {
                height: 50px;
                width: 100%;
                text-align: center;
                display: block;
                margin: 0px 0px;
                padding: 0;
                background-color: gray;
                }

            .start_time {float: left; margin:0; width: 8%;}
            .end_time {float: left; margin: 0; width: 8%;}
            .word {float: left; margin: 0; width: 20%;}
            .use {float: left; margin: 0.2% 1%;}
            .telop {float: left; margin: 0.2% 1%;}
            .telop_word {float: left; margin: 0; width: 15%;}
            .font {float: left; margin: 1% 2%;}
            .telop_size {float: left; margin:0; width: 6%;}
            .color {float: left; margin: 0.5% 6%;}
        </style>

    </div>



    <!-- スクロールボックス内のone_lineをクリックした時の関数 -->
    <script>

        // ここでグローバル変数を宣言しておく
        var current_chunk_number;
        var next_chunk_number;
        var next_chunk_start_time;

        // 上記の変数を更新する関数
        function update_chunk_info(c_c_number){
            next_chunk_number = current_chunk_number + 1;
            next_chunk_start_time = $("#chunk_"+next_chunk_number).find(".start_time").attr("value")
            next_chunk_start_time = parseFloat(next_chunk_start_time);
        }


        // 位置情報を更新
        $(function(){
            $(document).on('click', ".one_line", function(){
                var the_id = $(this).attr("id");
                current_chunk_number = parseFloat(the_id.split("_")[1]);
                update_chunk_info(current_chunk_number);
            });
        });


        // プレイヤーの再生位置をstart_timeに移動して再生開始
        $(function() {
            
            $(document).on('click', ".one_line", function(){
                var the_start_time = $(this).find(".start_time").attr("value");
                the_start_time = parseFloat(the_start_time);
                var the_end_time = $(this).find(".end_time").attr("value");
                the_end_time = parseFloat(the_end_time);


                // 音声スタート
                // wavesurfer.play(the_start_time, the_end_time);
                // 動画スタート
                setCurTime(the_start_time, the_end_time);
            });
        });

        // スクロールボックス内の位置を移動
        $(function() {
            
            $(document).on('click', ".one_line", function() {

                // こことか参考にhttps://webmanab-html.com/tip/scroll-box-animation/
                var pos = $(this).position();
                var scrollH = $('#scroll_wrapper').scrollTop();
                var position = pos.top + scrollH;
                $("#scroll_wrapper").animate({scrollTop : position}, 1);
            });
        });


    </script>


    
    <!-- csvファイルを読み込み -->
    <div id="read_csv">
        <style>
            #read_csv {text-align: center;}
        </style>
        <p>csvを読み込む</p>
        <form name="myform">
            <input type="file" name="select" id="loadBtn" /><br/>
        </form>
    </div>

    <script>

        var loadBtn = document.querySelector("#loadBtn");
        loadBtn.addEventListener('change', upload, false);


        // アップロード時の処理
        function upload(evt) {

            if (!isFileUpload()) {
                alert("エラー：FileAPI非対応のブラウザです。");
            } else {

                var data = null;
                // 選択されたファイル情報を取得
                var file = evt.target.files[0];
                var reader = new FileReader();
                // ファイル読み取りを実行
                reader.readAsText(file);

                // ファイルの内容を表示
                reader.onload = function(event) {

                    var result = event.target.result;
                    var chunks = result.split("\n");
                    var theData = chunks.slice(1, chunks.length-1);
                    console.log(theData);
                
                    var selection = d3.select("#scroll_inner").selectAll("div").data(theData).enter();

                    one_line = selection.append("div").attr("class", "one_line")
                        .attr("id", function(d, i){return "chunk_"+i});

                    // start_time
                    one_line.append("input").attr("class", "start_time").attr("type", "number").attr("step", 0.1)
                        .attr("value", function(d){return d.split(",")[1];});
                    // end_time
                    one_line.append("input").attr("class", "end_time").attr("type", "number").attr("step", 0.1)
                        .attr("value", function(d){return d.split(",")[2];});
                    // word
                    one_line.append("input").attr("class", "word").attr("type", "text")
                        .attr("value", function(d){return d.split(",")[0];});

                    // use
                    one_line.append("input").attr("type", "checkbox").attr("class", "use").attr("checked", true);
                    // telop
                    one_line.append("input").attr("type", "checkbox").attr("class", "telop");
                    // telop_text
                    one_line.append("input").attr("class", "telop_word").attr("type", "text")
                        .attr("value", function(d){return d.split(",")[0];});

                    // font
                    var select_box = one_line.append("select").attr("class", "font");
                    // select_box.append("option").attr("value", "keifont").append("p").text("keifont");
                    select_box.append("option").attr("value", "hiragino").append("p").text("ヒラギノ");
                    // font_size
                    one_line.append("input").attr("class", "telop_size").attr("type", "number")
                        .attr("step", 10).attr("value", 120);
                    // color
                    var select_box = one_line.append("select").attr("class", "color");
                    select_box.append("option").attr("value", "pink_white_pink").append("p").text("pink_white_pink");
                    select_box.append("option").attr("value", "blue_red").append("p").text("blue_red");

                    
                    
                    // 初期値
                    current_chunk_number = 0;
                    // update_chunk_info(current_chunk_number);
                    next_chunk_number = current_chunk_number + 1;
                    next_chunk_start_time = $("#chunk_"+next_chunk_number).find(".start_time").attr("value");
                    next_chunk_start_time = parseFloat(next_chunk_start_time);

                    
                };
                reader.onerror = function() {
                    alert("エラー：ファイルをロードできません。");
                };
            }
        }

        // ファイルアップロード判定
        function isFileUpload() {
            var isCompatible = false;
            if (window.File && window.FileReader && window.FileList && window.Blob) {
            isCompatible = true;
            }
            return isCompatible;
        }


    </script>



    <!-- start_time, end_time　の値を更新を反映させる -->
    <script>
        $(document).on("click", ".start_time", function(){
            var new_value = $(this).val();
            $(this).attr("value", new_value);
        });

        $(document).on("click", ".end_time", function(){
            var new_value = $(this).val();
            $(this).attr("value", new_value);
        });
    </script>




    <script>
    // 再生中、自動でスクロール

        function proceed(){
            var time_music = parseFloat(vid.currentTime);
            if (time_music >= next_chunk_start_time){

                // スクロール
                var pos = $("#chunk_"+next_chunk_number).position();
                var scrollH = $('#scroll_wrapper').scrollTop();
                var position = pos.top + scrollH;
                $("#scroll_wrapper").animate({scrollTop : position}, 1);


                // 現在の位置情報を更新
                current_chunk_number = current_chunk_number + 1;
                // update_chunk_info(current_chunk_number);
                next_chunk_number = current_chunk_number + 1;
                next_chunk_start_time = $("#chunk_"+next_chunk_number).find(".start_time").attr("value")
                next_chunk_start_time = parseFloat(next_chunk_start_time);

            }
        }
        setInterval('proceed()',1);  // 1000(ms)(=1s)に一回


    </script>


    
    <!-- 最終的なデータを送信 -->
    <div id="send_button">
        <style>
            #send_button {text-align: center; margin-top: 3vh;}
        </style>
        <button onclick="send()">結果を送信</button>
    </div>

    <script>
        function send(){

            var start_times = [];
            var end_times = [];
            var words = [];
            var is_use = [];
            var is_telop = [];
            var telop_words = [];
            var fonts = [];
            var telop_sizes = [];
            var colors = [];

            $(".start_time").each(function(i, o){
                start_times.push($(o).val());
            });
            $(".end_time").each(function(i, o){
                end_times.push($(o).val());
            });
            $(".word").each(function(i, o){
                words.push($(o).val());
            });
            $(".use").each(function(i, o){
                if ($(o).prop("checked")){
                    is_use.push(1);
                }
                else {
                    is_use.push(0);
                }
            });
            $(".telop").each(function(i, o){
                if ($(o).prop("checked")){
                    is_telop.push(1);
                }
                else {
                    is_telop.push(0);
                }
            });
            $(".telop_word").each(function(i, o){
                telop_words.push($(o).val());
            });
            $(".font").each(function(i, o){
                fonts.push($(o).val());
            });
            $(".telop_size").each(function(i, o){
                telop_sizes.push($(o).val());
            });
            $(".color").each(function(i, o){
                colors.push($(o).val());
            });


            var result = {
                "s":start_times, "e":end_times, "w":telop_words,
                "is_use":is_use, "is_telop":is_telop, "font":fonts, "fontsize":telop_sizes,
                "color":colors
                };

            $.ajax({
                url: "./final_df/no_mean",
                type:'POST',
                //dataType: 'json',
                data : JSON.stringify(result),
                timeout:10000,
            });
        }
    </script>

    <form method="GET" action="/gamen">
        <input type="submit" value="次の画面へ">
        <style>
            form {text-align: center;}
        </style>
    </form>


    </body>

</html>